<% unless current_user %>
  <div class="col-md-offset-3 col-md-6">
    <ul class="nav nav-tabs authentication">
      <li class="item"><%= link_to "Sign Up", new_user_registration_path %></li>
      <li class="item"><%= link_to "Log In", new_user_session_path %></li>
    </ul>
  </div>
<% end %>

<% if current_user %>
  <ul class="nav nav-tabs navigation">
    <li class="item"><%= link_to "Expenses", expenses_path %></li>
    <li class="item"><%= link_to "Incomes", incomes_path %></li>
    <li class="item"><%= link_to "Categories", categories_path %></li>
    <li class="item"><%= link_to "Reports", new_report_path %></li>
  </ul>
<% end %>