<br>
<%= link_to "Add new Expense", new_expense_path, class: "btn btn-default btn-lg" %>
<br>

<table class="table table-striped">
  <% unless @expenses.empty? %>
    <h2>Your last expenses:</h2>
    <thead>
      <tr>
        <th>Category</th>
        <th>Amount</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
  <% end %>

  <% @expenses.each do |expense| %>
    <tr>
      <td><%= expense.category.name %></td>
      <td><%= number_to_currency(expense.sum, unit: "", precision: 0) %></td>
      <td><%= expense.date %></td>
      <td class="right">
        <%= link_to "Edit", edit_expense_path(expense.id), class: "btn btn-warning btn-lg" %>
        <%= link_to "Delete", expense_path(expense.id), method: :delete, data: {confirm: "Delete expense?"}, class: "btn btn-danger btn-lg"%>
      </td>
    </tr>
  <% end %>
</table>